<ion-header>
    <ion-toolbar>
        <ion-title>
            Ourchitecture
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Get Started</ion-card-subtitle>
                <ion-card-title>Our Technology Architecture</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <td-markdown [content]="content"></td-markdown>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
