<ion-header>
    <ion-toolbar>
        <ion-title>
            Ourchitecture
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Get Started</ion-card-subtitle>
                <ion-card-title>Our Technology Architecture</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>
                    Generally, the <a href="https://iasaglobal.org/itabok-1/engagement-model/role-descriptions/">types of architecture roles⭷</a>, fall into these categories:
                </p>
                <ion-item>
                    <ion-label text-wrap>
                        <ion-text color="primary">Enterprise Architecture:</ion-text>
                        <p>has mastered the fundamental skills in architecture and has been a practicing professional architect within one of the specializations prior to moving into the enterprise architecture practice. The enterprise architect has learned enough of the specializations to lead the architecture teams within an organization. Enterprise architects will have functioned as a solutions architect to the extent necessary to lead at the enterprise or global level. To be an enterprise architect, a successful candidate will have learned the value of the existing specializations and proven their ability to lead the cross-functional architecture teams to success.</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>
                        <ion-text color="primary">Solution Architecture:</ion-text>
                        <p>has mastered the fundamental skills in architecture and has been a practicing architect within delivery based organization. The solution architect is responsible for delivery on one or more projects within the scope of the business case for the solution. Their primary role is to optimize the value of a solution to an organization through delivery and reduce owner risk in its delivery while ensuring the solution meets all compliance and regulatory which impact the system. The solution architect will work with specialist architects, technical staff and stakeholders of the solution to ensure it is delivered or canceled based on the most effective strategy for the organization as a whole.</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>
                        <ion-text color="primary">Business Architecture:</ion-text>
                        <p>provides leadership of business initiatives through technology strategy by participating in the development of a business strategy to accomplish specific business goals. They provide innovation and opportunity recognition within business units. Specifically the business architect has mastered the delivery of value through technology support of business strategy. The business architect has developed their understanding of business valuation, business process and business strategy delivery. They act as a liaison from the technology groups to enhance business development and have tremendously advanced skills in business valuation of technology as well has human dynamics.</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>
                        <ion-text color="primary">Information Architecture:</ion-text>
                        <p>directs the use, integration and storage of information within a particular business unit (vertical structure) or business capability (horizontal structure). The information architect may focus in on one particular form such as usage focused strategy, information storage or other elements of information architecture or but must consider all elements of information architecture in the organization or customer base. The information architect has mastered the management of information across and within their industry.</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>
                        <ion-text color="primary">Infrastructure Architecture:</ion-text>
                        <p>provides strategic uses of infrastructure, network, and operations as an asset. They create and deliver technology strategies to optimize the use of technology resources related to hardware and physical system. It should be noted, this is not meant as quantitative overlap with the upcoming physical system architect who focuses on highly complex physical systems engineering domains such as satellite, defense, and embedded technology though there is some overlap. The infrastructure architect uses their mastery of network, computing platform and operations to guide the organization to valuable investments in hardware and platform.</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap>
                        <ion-text color="primary">Software Architecture:</ion-text>
                        <p>has mastered the value, use, development and delivery of software intensive systems. They have developed skills in software development lifecycles, software engineering and software design. The software architect is responsible for the value generated from software systems or system of systems within their direct supervision. They work with project teams to ensure value is delivered for investment and feed resulting valuation results into the business, information and infrastructure areas.</p>
                    </ion-label>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
